extends layout

block content
  h1= title
  if user
    if user.membership_status='Public' 
      .hero 
        p Welcome Back #{user.first_name}!
        p If you would like to become a private member to view who wrote which message please enter the passcode below.
      form(method="POST" action='')
        .form-group 
          label(for='private-passcode') Passcode: 
          input#private-passcode(type='text' name='private-passcode' placeholder='Passcode to be Private Member')
    else if user.membership_status='Private'
      .hero
        p Welcome Back #{user.first_name}!
        p Thank you for being a private member! If you are also an admin please enter the passcode below.
        form(method="POST" action='')
        .form-group 
          label(for='admin-passcode') Passcode: 
          input#admin-passcode(type='text' name='admin-passcode' placeholder='Passcode to be an Admin')
    else if user.membership_status='Admin'
      .hero
        p Welcome Back #{user.first_name}!
        p You are an admin of this site. Please do not abuse your privileges. Thank you and have fun! 
  else 
    .hero
      p Welcome to the Message Board!
      p This is a demo site made with Express. If you would like to view and write messages please Login or Signup