extends layout 

block content 
    h1= title
    if currentUser=='Public'
        p To become a private member please enter the correct passcode below.
        form(method='POST', action='')
            .form-group 
                label(for='private-passcode') Passcode 
                input#private-passcode(type='text', name='private-passcode', required='true')
     else if currentUser=='Private'
        p To become an admin please enter the correct passcode below.
        form(method='POST', action='')
            .form-group 
                label(for='admin-passcode') Passcode 
                input#admin-passcode(type='text', name='admin-passcode', required='true')
    